body {
  background: #1f667e;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 2%;
  width: 300px;
  height: 210px;
  background: #beeaff !important;
  border: 5px solid white;
}

.mountain1 {
  position: absolute;
  top: 60%;
  left: 0;
  width: 30%;
  height: 40%;
  background: #9bc2cf;
  -webkit-clip-path: polygon(25% 19%, 65% 19%, 100% 100%, 0% 100%);
  clip-path: polygon(25% 19%, 65% 19%, 100% 100%, 0% 100%);
  z-index: 0;
}

.mountain2 {
  position: absolute;
  top: 62%;
  left: 7.3%;
  width: 13%;
  height: 20%;
  background: white;
  -webkit-clip-path: polygon(
    17% 3%,
    0 32%,
    0 53%,
    18% 29%,
    38% 95%,
    41% 48%,
    60% 80%,
    76% 33%,
    94% 60%,
    100% 35%,
    84% 4%,
    50% 3%
  );
  clip-path: polygon(
    17% 3%,
    0 32%,
    0 53%,
    18% 29%,
    38% 95%,
    41% 48%,
    60% 80%,
    76% 33%,
    94% 60%,
    100% 35%,
    84% 4%,
    50% 3%
  );
  z-index: 1;
}

.mountain2a {
  position: absolute;
  top: 60%;
  left: 8.8%;
  width: 10%;
  height: 10%;
  background: white;
  border-radius: 50% 50% 0 0;
  z-index: 2;
}

.mountain3 {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 40%;
  height: 60%;
  background: #546a72;
  -webkit-clip-path: polygon(25% 19%, 65% 19%, 100% 100%, 0% 100%);
  clip-path: polygon(25% 19%, 65% 19%, 100% 100%, 0% 100%);
  z-index: 21;
}

.mountain4 {
  position: absolute;
  top: 44%;
  left: 30%;
  width: 16.4%;
  height: 20%;
  background: white;
  border-radius: 40% 50% 0 0;
  z-index: 20;
}

.mountain5 {
  position: absolute;
  top: 45.8%;
  left: 30%;
  width: 16.3%;
  height: 18%;
  background: white;
  -webkit-clip-path: polygon(
    17% 3%,
    0 32%,
    4% 53%,
    18% 29%,
    20% 100%,
    41% 48%,
    60% 80%,
    76% 33%,
    84% 60%,
    100% 35%,
    84% 4%,
    50% 3%
  );
  clip-path: polygon(
    17% 3%,
    0 32%,
    4% 53%,
    18% 29%,
    20% 100%,
    41% 48%,
    60% 80%,
    76% 33%,
    84% 60%,
    100% 35%,
    84% 4%,
    50% 3%
  );
  z-index: 24;
}

.mountain6 {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 60%;
  height: 60%;
  background: white;
  -webkit-clip-path: polygon(
    17% 30%,
    0 65%,
    26% 34%,
    31% 44%,
    40% 100%,
    57% 43%,
    76% 84%,
    76% 33%,
    100% 82%,
    92% 50%,
    78% 0,
    32% 0
  );
  clip-path: polygon(
    17% 30%,
    0 65%,
    26% 34%,
    31% 44%,
    40% 100%,
    57% 43%,
    76% 84%,
    76% 33%,
    100% 82%,
    92% 50%,
    78% 0,
    32% 0
  );
  z-index: 3;
}

.mountain6top {
  position: absolute;
  top: 23%;
  left: 58.4%;
  width: 28.4%;
  height: 20%;
  background: white;
  border-radius: 50% 40% 0 0;
  z-index: 2.8;
}

.mountain6base {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 80%;
  height: 90%;
  background: #88abb7;
  -webkit-clip-path: polygon(
    48% 40%,
    68% 34%,
    79% 32%,
    100% 75%,
    100% 100%,
    0 100%,
    20% 75%,
    34% 50%
  );
  clip-path: polygon(
    48% 40%,
    68% 34%,
    79% 32%,
    100% 75%,
    100% 100%,
    0 100%,
    20% 75%,
    34% 50%
  );
  z-index: 2.5;
}

.sun {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 15%;
  height: 20%;
  background: white;
  border-radius: 50%;
  z-index: 50;
}

.cloud1a {
  position: absolute;
  top: 7%;
  left: 25%;
  width: 20%;
  height: 3%;
  background: #f9f9f9;
  border-radius: 50%;
}

.cloud1b {
  position: absolute;
  top: 5%;
  left: 35%;
  width: 20%;
  height: 6%;
  background: #f9f9f9;
  border-radius: 50%;
}

.cloud1c {
  position: absolute;
  top: 9%;
  left: 45%;
  width: 15%;
  height: 3%;
  background: #f9f9f9;
  border-radius: 50%;
}

.cloud2a {
  position: absolute;
  top: 8%;
  left: 15%;
  width: 15%;
  height: 3%;
  background: #e0e0e0;
  border-radius: 50%;
}

.cloud2b {
  position: absolute;
  top: 10%;
  left: 35%;
  width: 18%;
  height: 2%;
  background: #e0e0e0;
  border-radius: 50%;
}

.cloud2c {
  position: absolute;
  top: 8%;
  left: 20%;
  width: 25%;
  height: 3%;
  background: #e0e0e0;
  border-radius: 50%;
}

.cloud3a {
  position: absolute;
  top: 56%;
  left: 15%;
  width: 15%;
  height: 3%;
  background: #d3d3d3;
  border-radius: 50%;
}

.cloud3b {
  position: absolute;
  top: 53%;
  left: 35%;
  width: 18%;
  height: 4%;
  background: #d3d3d3;
  border-radius: 50%;
}

.cloud3c {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 25%;
  height: 10%;
  background: #d3d3d3;
  border-radius: 50%;
}

.cloud4a {
  position: absolute;
  top: 63%;
  left: 15%;
  width: 35%;
  height: 1.5%;
  background: #d3d3d3;
  border-radius: 50%;
}

.cloud4b {
  position: absolute;
  top: 63%;
  left: 35%;
  width: 38%;
  height: 2%;
  background: #d3d3d3;
  border-radius: 50%;
}

.cloud4c {
  position: absolute;
  top: 60%;
  left: 20%;
  width: 35%;
  height: 5%;
  background: #d3d3d3;
  border-radius: 50%;
}

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 53;
}

#background-wrap2 {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 54;
}

#background-wrap3 {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 14;
}

#background-wrap4 {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

/* KEYFRAMES */

@keyframes animateCloud {
  0% {
    transform: translate(-930px);
  }
  25% {
    transform: translate(-200px);
  }
  100% {
    transform: translate(1200px);
  }
}

/* ANIMATIONS */

#background-wrap {
  -webkit-animation: animateCloud 50s linear infinite;
  -moz-animation: animateCloud 50s linear infinite;
  animation: animateCloud 50s linear infinite;
}

#background-wrap2 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;
}

#background-wrap3 {
  -webkit-animation: animateCloud 40s linear infinite;
  -moz-animation: animateCloud 40s linear infinite;
  animation: animateCloud 40s linear infinite;
}

#background-wrap4 {
  -webkit-animation: animateCloud 60s linear infinite;
  -moz-animation: animateCloud 60s linear infinite;
  animation: animateCloud 60s linear infinite;
}

/*--------------Media Queries ----------------*/
@media (max-width: 400px) {
  .box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 2%;
    width: 250px;
    height: 210px;
    background: radial-gradient(#2b275dde, #2c2c2c) !important;
    border: 5px solid white;
  }
}
@media (min-width: 401px) and (max-width: 599px) {
  .box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 2%;
    width: 375px;
    height: 275px;
    background: linear-gradient(#1e2227, #5145a3) !important;
    border: 5px solid white;
  }
}
@media (min-width: 600px) and (max-width: 767px) {
  .box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 2%;
    width: 550px;
    height: 400px;
    background: linear-gradient(#3d626f, #0d0545) !important;
    border: 5px solid white;
  }
}
@media (min-width: 768px) and (max-width: 950px) {
  .box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 2%;
    width: 750px;
    height: 450px;
    background: linear-gradient(#298effb8, #ec8800) !important;
    border: 5px solid white;
  }
}
@media (min-width: 951px) and (max-width: 1050px) {
  .box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 2%;
    width: 900px;
    height: 550px;
    background: linear-gradient(#98c9ff, #0064ec) !important;
    border: 5px solid white;
  }
}
@media (min-width: 1051px) {
  .box {
    position: relative;
    margin: auto;
    display: block;
    margin-top: 2%;
    width: 1200px;
    height: 650px;
    background: linear-gradient(#cdefff, #fbffa5) !important;
  }
}
