* {
  margin: 0;
  padding: 0;
}

html {
  background: lightgrey;
  font-size: 12px;
  font-family: sans-serif;
}

section {
  display: grid;
  grid-gap: 2rem;
  margin: 5rem;
}

article {
  background: white;
  padding: 2rem 2rem 4rem 2rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2.5rem;
}

article:nth-child(odd) {
  transform: rotate(6deg);
}
.bg-lemon {
  background: #fffbd7;
}
.bg-green {
  background: #bef0be;
}

.bg-pink {
  background: #fdced5;
}
.bg-sky {
  background: #c8d3e2;
}

/** ---------------------------------------------------------------------- //
  *  @group:MEDIA QUERIES
  */

@media (min-width: 630px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
  html {
    font-size: 12px;
  }
}

@media (min-width: 250px) and (max-width: 730px) {
  article {
    color: white;
  }
  .bg-lemon {
    background: #f6bb16;
  }
  .bg-green {
    background: #4bce9c;
  }

  .bg-pink {
    background: #e75167;
  }
  .bg-sky {
    background: #4b86d8;
  }
}

@media (min-width: 960px) {
  section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  html {
    font-size: 1.2vw;
  }
}
